@media screen and (max-width: 800px) {
  :root {
    --page-width: calc(100% - 2.5rem);
    --scaling: 0.8;
  }

  /* Flexbox */
  .flex-col-hor {
    flex-direction: row;
  }
  /* Grid */
  .grid-two-col-clean {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-two-col {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-four-col {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-five-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--padding-sm);
  }

  /* Single Product Page */

  .col--1 {
    order: 1;
  }

  .col--2 {
    order: 2;
  }

  .col--3 {
    order: 4;
  }

  .col--4 {
    justify-items: normal;
    order: 3;
  }

  /* Footer */

  .some-icons-main {
    justify-content: space-around;
    gap: var(--gap_1);
  }

  /* Add to Cart */

  .cart-sec-3-item {
    grid-template-columns: 1fr 1fr;
  }
}
