/* MEDIUM DEVICES */
@media screen and (max-width: 1200px) {
  body {
    background: palevioletred;
  }
  .primary-header {
    display: none;
  }

  .primary-header-mobile {
    display: block;
  }

  .grid-two-col {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-four-col {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Homepage */
  .ourbrands--grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* About */

  .openpositions-grid {
    grid-template-columns: auto;
    grid-template-rows: 2fr repeat(4, 1fr);
  }
  /* Contact Page */

  .contact-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Footer */

  .footer-responsive {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
  }

  .flex--footer {
    align-items: center;
  }
}

/* SMALLER DEVICES */
@media screen and (max-width: 360px) {
  body {
    background: goldenrod;
  }

  :root {
    --page-width: calc(100% - 5rem);
  }

  /* Header */

  .category-men-grid {
    width: calc(100% - 3rem);
  }

  /* Homepage */

  .ourbrands--grid {
    grid-template-columns: auto;
    grid-template-rows: repeat(1, 1fr);
  }

  /* Flexbox */
  .flex-col-hor {
    flex-direction: row;
  }
  /* Grid */
  .grid-two-col-clean {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-two-col {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-four-col {
    grid-template-columns: 1fr;
  }

  .grid-five-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--padding-sm);
  }

  .listofjackets-page-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Single Product Page */

  .col--1 {
    order: 1;
  }

  .col--2 {
    order: 2;
  }

  .col--3 {
    order: 4;
  }

  .col--4 {
    justify-items: normal;
    order: 3;
  }

  /* Footer */

  .some-icons-main {
    justify-content: space-around;
    gap: var(--gap_1);
  }

  /* Add to Cart */

  .cart-sec-3-item {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .cart-sec-item-box:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .cart-sec-item-box:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  /* Contact Page */

  .contact-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
