* {
    margin: 0;
}

:root {

    /* Brand Colors */
    --main_green: #92E596;
    --main_green-dark: #4B5E6F;
    --main_pink: #FF9094;
    --main_pink-dark: #6A435A;

    /* Styling */
    --main_grey1: #979797;
    --main_grey2: #D2DBE3;

    /* Fontstyles */
    --heading-xl: clamp(1.8rem, 2.5vw, 4rem); /* Heading 1*/
    --text-sm: clamp(0.7rem, 2.5vw, 1.2rem); /* Paragraphs */

    /* Padding */
    --padding-xl: 2rem;
    --padding-m: 1rem;
    --padding-sm: 0.5rem;

    /* Border */
    --border_normal: 3px;


}

body {
    font-family: 'Heebo', sans-serif;
}

/* FLEXBOX */

.flex-col-hor {
    display: flex;
    flex-direction: row;
}

.flex-col-ver {
    display: flex;
    flex-direction: column;
}

/* GRID */

.grid-two-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--padding-sm);
}

/* ALIGNMENT */

.centering {
    display: grid;
    align-content: center;
    justify-items: center;
}


/* Fontstyles */

.heading-xl {
    font-size: var(--heading-xl, 40px);
}

.text-sm {
    font-size: var(--text-sm, 20px);
}

.pic-small {
    width: 10rem;
} 

.hover-scale {
    scale: 1.4rem;
}