* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Brand Colors */
  --main_green: #92e596;
  --main_green-dark: #4b5e6f;
  --main_pink: #ff9094;
  --main_pink-dark: #6a435a;

  --main_grey1: #979797;
  --main_grey2: #d2dbe3;
  --c-white: #ffffff;
  --c-dark: #131414;

  /* Fontstyles */
  --font-1: "Akshar", sans-serif;
  --font-2: "Heebo", sans-serif;

  --heading-xl: clamp(1.5rem, 2.5vw, 3rem); /* Heading 1*/
  --heading-l: clamp(1.3rem, 2.5vw, 1.8rem); /* Heading 2*/
  --heading-m: clamp(1.1rem, 2.5vw, 1.4rem); /* Heading 3*/
  --text-sm: clamp(0.7rem, 2.5vw, 1.1rem); /* Paragraphs */
  --p-links: 1.25rem;

  /* Padding */
  --padding-xl: 2rem;
  --padding-m: 1rem;
  --padding-sm: 0.5rem;

  /* Border */
  --border_normal: 3px;
  --border_small: 2px;

  /* Gap */
  --gap_1: 1rem;
  --gap_2: 2rem;
  --gap_3: 3rem;

  /* Width */
  --page-width: 1280px;

  /* Height */
  --page-container-height: clamp(5rem, 2.5vw, 5.5rem);

  /* Scale*/
  --scaling: 1;

  /* Transitions */
  --transition-1: 300ms ease;
}

button {
  color: var(--color-10);
}

body {
  font-family: "Heebo", sans-serif;
  display: flex;
  flex-direction: column;
  gap: var(--gap_3);
}

/***** COLORS *****/

.main_green-color {
  /* Green */
  color: var(--main_green);
}

.main_green-bg-color {
  background: var(--main_green);
}

.main_green-dark-color {
  /* Green Dark */
  color: var(--main_green-dark);
}

.main_green-dark-bg-color {
  background: var(--main_green-dark);
}

.main_pink-color {
  /* Pink */
  color: var(--main_pink);
}

.main_pink-bg-color {
  background: var(--main_pink);
}

.main_pink-dark-color {
  /* Pink Dark */
  color: var(--main_pink-dark);
}

.main_pink-dark-bg-color {
  background: var(--main_pink-dark);
}

.c-white {
  color: var(--c-white);
}

.c-dark {
  color: var(--c-dark);
}

/* Padding */

.pad-small {
  padding: 0.5rem;
}

.pad-medium {
  padding: 1rem;
}

.pad-large {
  padding: 2rem;
}

/* Gap */

.gap-1 {
  gap: var(--gap_1);
}

.gap-2 {
  gap: var(--gap_2);
}

.gap-3 {
  gap: var(--gap_3);
}

/* FLEXBOX */

.flex {
  display: flex;
}

.flex-col-hor {
  display: flex;
  flex-direction: row;
}

.flex-col-ver {
  display: flex;
  flex-direction: column;
}

.flex-align-space {
  justify-content: space-between;
  align-items: center;
}

.item-flex {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.align-item {
  align-items: center;
}

.spacebetween {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

/* GRID */

.grid-two-col-clean {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-two-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--padding-xl);
}

.grid-three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-three-col-align {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  border: var(--border_normal) var(--main_grey1) solid;
}

.grid-four-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--padding-xl);
}

.grid-five-col {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--padding-sm);
}

/* ALIGNMENT */

.grid-center {
  display: grid;
  align-items: center;
  justify-items: center;
}

.margin-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.margin_down-1 {
  margin-bottom: 1rem;
}

.text-align-c {
  text-align: center;
}

/********************* GLOBAL *********************/

/*** Header ***/

.top-header {
  background: var(--main_green-dark);
}

.page-logo {
  width: 10rem;
}

nav > ul {
  display: flex;
  gap: 2rem;
}

nav > ul > li {
  list-style: none;
  padding: 0;
}

.page_men,
.page_women {
  margin-left: 0.3rem;
  color: white;
  transition: 200ms ease-in;
  rotate: 0deg;
}

.page_men:hover,
.page_women:hover {
  color: var(--main_green);
  rotate: 180deg;
}

.page-width {
  width: var(--page-width);
  margin: 0 auto;
}

.primary-header {
  background: var(--main_green-dark);
}

.header-category-men {
  background: var(--main_green-dark);
  min-height: 10rem;
  display: none;
}

.header-category-women {
  background: var(--main_pink-dark);
  min-height: 10rem;
  display: none;
}

/*** Footer ***/

footer {
  background: var(--main_green-dark);
  min-height: 25rem;
  width: 100%;
}

.logo-footer {
  width: 15rem;
}

.teest-1 {
  border: red 2px dashed;
}

.some-icons-main {
  display: flex;
  flex-direction: row;
  gap: var(--gap_1);
}

.newsletter {
  border: var(--main_green) var(--border_normal) solid;
  min-height: 22rem;
}

.social-box {
  padding: var(--padding-m);
  color: var(--main_grey2);
  background: transparent;
  text-decoration: none;
  font-size: 1.5rem;
  transition: var(--transition-1);
}

.social-box:hover {
  color: var(--main_green-dark);
  background: var(--main_green);
}

.news-wrap {
  width: 100%;
  height: calc(100% - 8rem);
}

.news-form {
  width: calc(100% - 5rem);
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-name {
  width: 100%;
}

#name-form-label {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 300ms ease-in;
}

#name-form-label:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#email-form-label {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 300ms ease-in;
}

#email-form-label:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/********************* HOMEPAGE *********************/

.image-prop {
  width: 100%;
  min-height: 25rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.men-image {
  background-image: url(/images/products/product-promo-men.jpg);
}

.women-image {
  background-image: url(/images/products/product-promo-women.jpg);
}

/* Slideshow */

.slider-container {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.slider-img {
  width: 100%;
  height: 20rem;
  display: flex;
  animation: slide 20s infinite;
}

/*
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(-300%);
    }
}*/

.slider-container > .slider-img > img {
  width: 100%;
}

.ourbrands {
  background-color: var(--main_grey2);
  padding: var(--padding-m);
  min-height: 12rem;
  transition: 300ms ease;
}

.ourbrands:hover {
  background-color: var(--main_grey1);
}

.brand-logo {
  scale: 1;
  transition: 300ms ease;
}

.brand-logo:hover {
  scale: 1.2;
}

.brand-logo-scale {
  scale: var(--scaling);
}

/********************* LIST OF JACKETS *********************/

.product-item {
  text-decoration: none;
}

.product-image {
  max-width: calc(100% - 15rem);
  min-width: 10rem;
  padding: 1rem;
  scale: 1;
  transition: 300ms ease;
  transform-origin: center;
}

.product-image:hover {
  scale: 1.1;
}

.item-border {
  border: var(--border_small) var(--main_grey2) solid;
}

.product-specs {
  background: var(--main_green);
  width: 100%;
  padding: var(--padding-sm);
  position: relative;
  height: 40px;
  overflow: hidden;
}

.boox-box {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0px;
  transition: 800ms ease;
}

.box-shape {
  background-color: greenyellow;
  margin-top: 30px;
}

/********************* SINGLE PRODUCT *********************/

.col--1 {
  margin: 0 auto;
}

.col--2 {
  display: grid;
  align-items: baseline;
}

.col--3 {
  display: grid;
  align-items: stretch;
}

.col--4 {
  min-height: 20rem;

  display: grid;
  justify-items: start;
}

.video-product {
  border: 10px solid red;
}

.product-img-item {
  width: 60%;
}

.price-tag {
  background: var(--main_green);
  display: inline-block;
  padding: var(--padding-m);
  font-size: var(--heading-sm);
  color: var(--c-dark);
}

.product-size-box {
  outline: var(--main_grey1) 1px solid;
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: 0.4rem 0rem;
  transition: 300ms ease;
}

.product-size-box:hover {
  color: var(--main_green-dark);
  font-weight: 600;
  outline: var(--main_green) 1px solid;
  background: var(--main_green);
  width: 100%;
  text-align: center;
  padding: 0.4rem 0rem;
  z-index: 2;
}

.product-size-box:visited {
  color: var(--main_green-dark);
  font-weight: 600;
  outline: var(--main_green) 1px solid;
  background: var(--main_green);
  width: 100%;
  text-align: center;
  padding: 0.4rem 0rem;
  z-index: 2;
}

/* Color Radio */

#color-green {
  accent-color: greenyellow;
  border-color: orange;
  border: 1px solid red;
}
/********************* CHECKOUT *********************/
/********************* ABOUT *********************/
/********************* CONTACT *********************/
